<!DOCTYPE html>
<html>

<head>
    <title>Wine Search App</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Calligraffitti|Euphoria+Script|Parisienne|Zeyada" rel="stylesheet">
    <!--Import materialize.css-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- Custome styles -->
    <link rel="stylesheet" href="./assets/css/styles.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <nav class="red-wine">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo"><img src="./assets/images/grape-logo.png" alt="grape logo">The GrapeVine</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#" id="signInButton">Create User/Sign-in</a></li>
                <li><a href="/profile">User Profile</a></li>
                <li><a href="/reviews">Wine Reviews</a></li>
                <li class="search">
                    <div class="search-wrapper">
                        <input id="wine-search" class="search" placeholder="Search wines..."><i class="material-icons grey-text text-lighten-2">search</i></div>
                </li>
            </ul>
            <ul id="slide-out" class="side-nav">
                <li><a href="#" id="signInButton">Create User/Sign-in</a></li>
                <li><a href="/profile">User Profile</a></li>
                <li><a href="/reviews">Wine Reviews</a></li>
                <li class="search">
                    <div class="search-wrapper">
                        <input id="wine-search" class="search" placeholder="Search wines..."><i class="material-icons grey-text text-lighten-2">search</i></div>
                </li>
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    {{{ body }}}

    <!-- Minified JQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <!-- Custom Javascript files -->
    <script type="text/javascript" src="./assets/js/index.js"></script>
    <script type="text/javascript" src="./assets/js/profile.js"></script>
    <script type="text/javascript" src="./assets/js/reviews.js"></script>
    <script type="text/javascript">
    // Initialize collapse button
    $('.button-collapse').sideNav({
        menuWidth: 300, // Default is 300
        edge: 'right', // Choose the horizontal origin
        closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
        draggable: true, // Choose whether you can drag to open on touch screens,
        //onOpen: function(el) { /* Do Stuff* / }, // A function to be called when sideNav is opened
        //onClose: function(el) { /* Do Stuff* / }, // A function to be called when sideNav is closed
    });
    //Materialize select box initialization
    $(document).ready(function() {
        $('select').material_select();
    });
    </script>
</body>

</html>