<div class="container">  
  <div class="">
    <h4>Add New Wine</h4>
    <div class="row">
      <form class="col s12" id="addWineForm">
        <div class="row">
          <div class="input-field col s12">
            <input id="title" type="text" class="validate">
            <label for="title">Title</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="country" type="text" class="validate">
            <label for="country">Country</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="description" type="text" class="validate">
            <label for="description">Description</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="price" type="text" class="validate">
            <label for="price">Price</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="points" type="text" class="validate">
            <label for="points">Points</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="winery" type="text" class="validate">
            <label for="winery">Winery</label>
          </div>
        </div>
        <button id="addWineSubmit" type="submit"  form="addWineForm" href="#" class="teal text-white btn-flat">Submit</button>
      </form>
    </div>
  </div>
</div>