<div class="container">  
  <div id="createAcct" class="">
    <div class="">
      <h4>Create An Account</h4>
      <div class="row">
    <form class="col s12" id="createAcctForm">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Alan" id="firstName" type="text" class="validate">
          <label for="firstName">First Name</label>
        </div>
        <div class="input-field col s6">
          <input placeholder="Breck" id="lastName" type="text" class="validate">
          <label for="lastName">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="username" type="text" class="validate">
          <label for="username">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="">
      <button id="createAcctSubmit" type= "submit"  form= "createAcctForm" href="#" class="teal text-white btn-flat">Submit</button>
    </div>
    </form>
  </div>
        
  </div>
    
  </div>
</div>