    <div class="section no-pad-bot" id="index-banner">
        <h1 class="header center">Wine Search App</h1>
        <div class="row center">
            <h4 class="header col s12 light center">Some important summary text about the app</h4>
        </div>
        <div class="row center">
            <div class="search-wrapper">
                <input id="wine-search" class="search" placeholder="Search wines..."><i class="material-icons grey-text text-lighten-2">search</i></div>
        </div>
        <div class="row center">
            <a href="#" id="createAccount" class="btn-large lime darken-3">Create Account</a>
        </div>
        <div class="row center">
            <a href="#" id="signInButton" class="btn-large lime darken-3">Sign In</a>
        </div>
    </div>
    <div class="container">
        <div class="section"></div>
    </div>
