nav {
	box-shadow: none;
	webkit-box-shadow: none;
}

.red-wine {
	background-color: #82182c;
}

.brand-logo img {
	height: 45px;
	margin-top: 5px;
}

#nav-mobile li.search .search-wrapper {
    margin: 0 12px;
}

#nav-mobile li.search .search-wrapper input#wine-name-search {
    display: block;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    height: 40px;
    margin: 12px 0 0 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 45px 0 15px;
    border: 0;
	border-radius: 20px;
    background-color: white;
    color: black;
}

#nav-mobile li.search .search-wrapper i.material-icons {
    position: absolute;
    top: 2px;
    right: 20px;
    cursor: pointer;
}

nav .button-collapse {
    float: right;
}

.image-container img {
	height: 200px;
	width: auto;
	text-align: center;
}